<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			*{
				margin: 0;
				padding: 0;
				list-style: none;
			}
			.nav ul{
				width: 100%;
				display:flex ;
				line-height: 90px;
				justify-content:space-between;
			}
			.nav li{
				/*width: 9%;*/
				height: 90px;
				float: left;
				color: white;
			}
		</style>
	</head>
	<body style="background-color: #071248;">
		<div id="box">
			<div style="width: 100%;min-height: 90px;background-color: #071248;">
				<div style="width: 80%;min-height: 90px; margin: 0 auto;position: fixed;top: 0px;left: 160px;">
					<div style="width: 30%;height:90px;float: left;">
						<img style="width: 200px;height: 70px;" src="https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cDovLzVkMzk2OWU0NTQxMGMudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNy82YzAxZmI3NWMyY2UyNmVkZThiYTA1Y2U3MGEzMDU3Zi5wbmc_p_p100_p_3D.png"/>
					</div>
					<div class="nav" style="width: 60%;height: 90px;float: right;">
						<ul>
							<li>首页</li>
							<li>使用流程</li>
							<li>全球服务</li>
							<li>关于我们</li>
							<li>专家团队</li>
							<li>联系我们</li>
							<li>合作伙伴</li>
						</ul>
					</div>
				</div>
			</div>
			<div style="width: 80%; height: 550px;margin:0 auto;">
				<div style="width: 36%;height: 550px;position: relative;float: left;">
					<h3 style="font-size: 40px; color: white;padding-top: 70px;">践行惠普金融<br />助力 <span style="color: blue;">美好生活</span></h3>
					<p style="font-size: 16px;color: white;padding-top: 40px;line-height: 24px;">我们的网站构建器，将传统的编码工作转化为直观的拖拽操作和文字录入。在这里，您仅需花上10分钟便可以完成一个H5响应式网站，
						您会发现完全不需要编写一行代码，这就是起飞页自助建站的神奇之处。
					</p>
					<div style="width: 160px;height: 50px;background-color: blue; border-radius: 50px;text-align: center;line-height: 50px;color: white;position: absolute;bottom: 120px;left: 5px;">联系我们</div>
					<div style="width: 160px;height: 50px;border:solid 1px blue;border-radius: 50px;text-align: center;line-height: 50px;color: white;position: absolute;bottom: 120px;left: 200px;">点我咨询</div>
				</div>
				<div style="float: right;">
					<img src="https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cDovLzVkMzk2OWU0NTQxMGMudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNy8zZDUyMmVkNmVhNmIzYjZhYTBiZWM0YzdhMGQyNzE3Mi5wbmc_p_p100_p_3D.png"/>
				</div>
			</div>
			<div style="width: 80%; height: 550px;margin:0 auto;margin-top: 200px;">
				<div style="width: 100%;height: 150px;">
					<h2 style="text-align: center;font-size: 40px; color: white;">使用流程</h2>
					<p style="text-align:center;font-size: 16px;color: white;padding-top: 10px;">我们的网站构建器，将传统的编码工作转化为直观的拖拽操作和文字录入。在这里，您仅需花上<br>10分钟便可以完成一个H5响应式网站。</p>
				</div>
				<lee></lee>
			</div>
			<!--近期货币-->
			<!--<div style="width: 80%; height: 550px;margin:0 auto;">-->
			<div>
				
			</div>
			<div style="width: 80%; height: 550px;margin:0 auto;margin-top: 200px;">
				<div style="width: 100%;height: 150px;">
					<h2 style="text-align: center;font-size: 40px; color: white;">全球服务</h2>
					<p style="text-align:center;font-size: 16px;color: white;padding-top: 10px;">我们的网站构建器，将传统的编码工作转化为直观的拖拽操作和文字录入。在这里，您仅需花上<br>10分钟便可以完成一个H5响应式网站。</p>
				</div>
				<div>
					<img src="https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cDovLzVkMzk2OWU0NTQxMGMudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNy8yMTg3ZWYyNmI2MDdiZmZlMDQ1MzgyMTNiNDYxMmRiYy5qcGc_p_p100_p_3D.jpg"/>
				</div>
			</div>
			<div style="width: 80%; height: 550px;margin:0 auto;margin-top: 150px;">
				<div style="width: 100%;height: 150px;">
					<h2 style="text-align: center;font-size: 40px; color: white;">当前货币汇率</h2>
					<p style="text-align:center;font-size: 16px;color: white;padding-top: 10px;">我们的网站构建器，将传统的编码工作转化为直观的拖拽操作和文字录入。在这里，您仅需花上<br>10分钟便可以完成一个H5响应式网站。</p>
				</div>
				<div style="width: 100%;height: 90px;background-color: blue;">
					<div style="width: 90%;height: 90px;margin: 0 auto;">
						<lee2></lee2>
					</div>
				</div>
				<div style="width: 100%;height: 300px;margin-top: 80px;">
					<lee3></lee3>
				</div>
			</div>
		</div>
		<template id="lee">
			<div>
				<div style="width: 320px;height: 200px;float: left; border: 1px; margin: 40px;background-color: blue;" v-for="i in arr">
					<img style="margin-left: 120px;margin-top: 50px;" :src="i.img" alt="" />
					<p style="font-size: 20px;color: white; text-align: center;">{{i.text}}</p>
				</div>
			</div>
		</template>
		<template id="lee2">
			<div>
				<div style="width: 25%;height: 90px;float: left;margin-top: 20px;" v-for="i in arr">
					<h2 style="font-size: 18px;color: white;">{{i.text}}</h2>
					<p style="font-size: 14px;color: white;">{{i.font}}</p>
				</div>
			</div>
		</template>
		<template id="lee3">
			<div>
				<div style="width: 20%;height: 300px;float: left;padding-left: 40px;margin-left:14px;background-color: blue;" v-for="i in arr">
					<img style="margin-top: 20px;" :src="i.img"/>
				</div>
			</div>
		</template>
	</body>
	<script src="vue.js"></script>
	<script>
		Vue.component('lee',{
			template:"#lee",
			data(){
				return{
					arr : [{img:'https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cDovLzVkMzk2OWU0NTQxMGMudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNy85Y2VmNzcxOGEzZTNiNTBlYzA2YWUzNjYxMzZjMjYxNi5wbmc_p_p100_p_3D.png',text:'创建账户'},
					{img : 'https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cDovLzVkMzk2OWU0NTQxMGMudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNy8yNGQ5ZmE0MzI4ZGI1NjEwZTQwODkyZmJhZjQxYTNlNS5wbmc_p_p100_p_3D.png',text:'安全保障'},
					{img : 'https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cDovLzVkMzk2OWU0NTQxMGMudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNy80ODVmOTZhYTgyYWEzN2E4ODNhYzcxZWMwODEwMDlhZC5wbmc_p_p100_p_3D.png',text:'绑定付款'}]
				}
			}
			
		})
		Vue.component('lee2',{
			template:"#lee2",
			data(){
				return{
					arr : [{text:'开始时间',font:'April 25, 2019 (10:00PM )'},
							{text:'结束时间',font:'June 06, 2019 (10:00PM )'},
							{text:'交易货币',font:'美元、欧元、英镑、澳元'},
							{text:'售放数量',font:'April 25, 2018 (10:00PM )'}
					]
				}
			}
			
		})
		Vue.component('lee3',{
			template:"#lee3",
			data(){
				return{
					arr : [{img:'https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cDovLzVkMzk2OWU0NTQxMGMudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNy9jYzQ5N2ZlYzMwMjM1Yjk0ZmI2YmZjODE3NjI0Y2FhMS5zdmc_p_p100_p_3D.svg'},
							{img:'https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cDovLzVkMzk2OWU0NTQxMGMudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNy9jYzQ5N2ZlYzMwMjM1Yjk0ZmI2YmZjODE3NjI0Y2FhMS5zdmc_p_p100_p_3D.svg'},
							{img:'https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cDovLzVkMzk2OWU0NTQxMGMudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNy9jYzQ5N2ZlYzMwMjM1Yjk0ZmI2YmZjODE3NjI0Y2FhMS5zdmc_p_p100_p_3D.svg'},
							{img:'https://ccdn.goodq.top/caches/76b523e47b518e3280b3a453638be094/aHR0cDovLzVkMzk2OWU0NTQxMGMudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNy9jYzQ5N2ZlYzMwMjM1Yjk0ZmI2YmZjODE3NjI0Y2FhMS5zdmc_p_p100_p_3D.svg'}
					]
				}
			}
			
		})
		new Vue({
			el:'#box',
			data:{
				num:12
			}
		})
	</script>
</html>
